<select class="form-control" (change)="onSectionChange($event.target.value)">
  <option value="allSections">All Sections</option>
  <option *ngFor="let section of allSections" [value]="section.name">{{section.name}}</option>
</select>
<select class="form-control" (change)="onInstrumentChange($event.target.value)">
  <option value="allInstruments">All Instruments</option>
  <option *ngFor="let instrument of allInstruments" [value]="instrument.name">{{instrument.name}}</option>
</select>
<div class="tiles" [attr.display]="setDisplay()">
  <app-musician-tile *ngFor="let musician of allMusicians | async | sections: filterBySection : filterByInstrument" [musician]="musician" [attr.display]="setTileDisplay()"></app-musician-tile>
</div>
