<h2>{{title}}</h2>

<section>
  <h4>Our Mission</h4>
  <p>The Seattle Symphony Unleashes the Power of Music, Brings People Together, and Lifts the Human Spirit</p>
</section>

<section>
  <h4>Our Values</h4>
  <p>Excellence · Innovation · Curiosity · Collaboration · Respect · Inclusivity · Integrity · Service</p>
</section>

<section>
  <h4>Our Goals</h4>
  <ul>
    <li>Strive for excellence in everything we do, building our global reputation</li>
    <li>Create a culture that reflects our values</li>
    <li>Be one of the most forward-looking orchestras in America, reflecting the energy and spirit of innovation of our city</li>
    <li>Achieve long term financial stability and security</li>
    <li>Make audience engagement and experience central to our endeavors</li>
    <li>Build meaningful connections with our communities</li>
  </ul>
</section>

<section>
  The Seattle Symphony is one of America's leading symphony orchestras and is internationally acclaimed for its innovative programming and extensive recording history. Under the leadership of Music Director Ludovic Morlot since September 2011, the Symphony is heard from September through July by more than 500,000 people through live performances and radio broadcasts. It performs in one of the finest modern concert halls in the world — the acoustically superb Benaroya Hall — in downtown Seattle. Its extensive education and community engagement programs reach over 65,000 children and adults each year. The Seattle Symphony has a deep commitment to new music, commissioning many works by living composers each season. The orchestra has made nearly 150 recordings and has received two Grammy Awards, 21 Grammy nominations, two Emmy Awards and numerous other accolades. In 2014 the Symphony launched its in-house recording label, Seattle Symphony Media.
</section>
