<div class="musician-tile">
  <h4 (click)="goToDetail(musician)">{{musician.name}}</h4>
  <h5>{{musician.instrument}} | {{musician.section}}</h5>
  <div *ngIf="currentRoute === '/musicians'" [innerHTML]="truncateBio(musician.bio)"></div>
  <p *ngIf="currentRoute === '/musicians'"><span (click)="goToDetail(musician)">Read more</span></p>
  <div *ngIf="currentRoute === '/admin'">
    <p (click)="showEdit(musician)">Edit</p>
    <p>Delete</p>
    <app-edit-musician *ngIf="editing===true" [musician]="musician"></app-edit-musician>
  </div>
</div>
