<div class="container">
  <div class="header" (click)="goHome()">
    <img class="heading-logo-text" src="https://static1.squarespace.com/static/54aa0406e4b0fbd5ffc77838/551573a9e4b039970f1975ed/551573aae4b0392be71c04cf/1427469227186/SeattleSymphony_Logo_PinkandBlack.png" alt="">
    <img class="heading-logo" src="https://yt3.ggpht.com/-9W0LaXkan3c/AAAAAAAAAAI/AAAAAAAAAAA/rKfrTo6DJAU/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" alt="">
  </div>
</div>
<nav-bar></nav-bar>

<div *ngIf="router.url === '/'" class="image-box">
  <div class="container">
    <img src="http://www.seattlesymphony.org/~/media/images/eventbanner880x399/opengraphdefaultimage.jpg" alt="Seattle Symphony Performance">
    <img src="https://s3.amazonaws.com/IE-logo/seattlesymphony.png" alt="Seattle Symphony Logo" class="logo">
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
