/* You can add global styles to this file, and also import other style files */

// body {
//   min-height: 100vh;
// }
html, body {
  min-height:100%;
  height:auto;
}

body, app-root {
  min-height:100vh;
  height:auto;
}

//I don't know what's working, so I'm just going to leave it!
app-root {
  position: relative;
}
